

$link_color: #ddd; 
$title_color: #eee; 
$light_color: #eee; 
$background_color: #5A565D; 

$light_grey: #bbb;
$dark_grey: #444; 

$button_radius: 5px; 
$title_margin: 10px 0; 

$category_title_size: 1.5rem; /* pas utilisé */ 

$button_shaddow: 0px 0px 2px $light_color; 

@mixin stroked_text($main_color) { 
    color: $main_color; 
    -webkit-text-stroke: 1px; 
    -webkit-text-stroke-color: black; 
} 
@mixin text_bg { 
    background-color: rgba(#eee, .8); 
    // opacity: .8; 
    border-radius: $button_radius; 
} 

// @mixin background_image($img_url) { 
@mixin background_image() { 
    // background-image: url($img_url); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-color: $background_color; 
} 

@mixin button($button_back_color) { 
    line-height:1.5rem; 
    // width: 100px; 
    padding: 0.375rem 0.75rem;
    background-color: $button_back_color; 
    border-radius: $button_radius; 
    border: 1px $light_grey solid; 
    text-decoration: none; 
    box-shadow: $button_shaddow; 
} 

/*********** PROPERTIES ************/ 

html { 
    font-size: 16px; 
}
body { 
    margin:0; 
    background-color: $background_color; 
    color: $light_color; 
} 
ul, li { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 

.clear { 
    clear: both; 
} 


/* .header - .navbar */ 

.header { 
    position: sticky; 
    top: 0; 
    height: 70px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end; 
    background-color: $dark_grey; 

    &__logo {
        float: left; 
        margin-left: 100px;
        margin-right: 60%; 
        &__img { 
            height: 70px; 
        }
    } 

    &__link { 
        width: 100px; 
        color: $link_color; 
        line-height:1.5rem;
        text-decoration: none; 
        padding:20px; 
        text-align: center; 
    } 
} 
.navbar { 
    margin-right: 100px;
    height: 20px; 
    &:hover { 
        // text-decoration: underline; 
        background-color: scale-color($dark_grey, $lightness: +40%); 
        color: darken($dark_grey, 30%); 
    }
} 
.navbar:hover .one_category a { 
    display: block; 
    text-decoration: none;
} 
.one_category { 
    position: relative; 
    top: 18px; 
    width: 140px;
    left: -20px; 
    & a { 
        display: none; 
        background-color: $background_color; 
        color: $light_grey; 
        line-height: 1.5rem; 
        background-color: $dark_grey; 
        padding: 5px; 
    } 
    &:hover { 
        display: block; 
        color: darken($dark_grey, 30%); 
    } 
    &:hover a { 
        border: 1px solid white; 
        background-color: scale-color($dark_grey, $lightness: +40%); 
        color: darken($dark_grey, 30%); 
    }
}

@media screen and (max-width: 499px) { 
    .header { 
        min-height: 150px; 
        flex-direction: column; 
        &__logo { 
            margin: 0 auto; 
            padding-bottom: 10px;
        } 
        &__link { 
            padding: 10px; 
            padding-top: 0; 
        }
    } 
    .navbar { 
        margin-right: 0; 
    }
} 


/* best */ 
.best { 
    border: 2px red solid; 
    background-color: $background_color; 
    height: 500px; 
    width: 80%; 
    margin: 10px auto; 
    // padding: 40px 50px 10px 50px; 
    &__intro { 
        float: left; 
        width: 60%; 
        height: 400px; 
        &__title { 
            @include stroked_text($light_color);
            font-size: 3rem;
            margin: $title_margin;
        } 
        &__subtitle { 
            @include stroked_text($light_color);
            font-size: 2rem; 
            margin: $title_margin;
        } 
        &__text { 
            font-size: 1.2rem; 
            min-height: 320px; 
        } 
    } 
    &__img { 
        float: right; 
        height: 500px; 
    } 
} 

@media screen and (max-width: 499px) { 
    .best__intro { 
        float: none; 
        margin: 0 auto; 
        &__text { 
            min-height: 50px; 
        } 
    } 
    .best__img { 
        float: none; 
        margin: 0 auto; 
    } 
} 



.btns { 
    // display: flex; 
    // direction: row; 
    display: inline-block; 
    &__play { 
        @include button($light_color); 
        color: $dark_grey;
    } 
    &__more_infos { 
        @include button($dark_grey); 
        color: $light_grey; 
    } 
    &__modal { 
        @include button(($light_color)); 
        color: $dark_grey; 
        width: 90px; 
        position: relative; 
        top: 70px; 
        left: 5px; 
        cursor: pointer; 
    } 
} 



/* SLIDERS */ 
.sliders { 
    background-color: $background_color; 
    
    &__category { 
        height: 150px; 
        width: 80%; 
        margin: 0 auto; 
        padding-bottom: 10px; 
        
        &__title { 
            text-align: left; 
            color: $title_color; 
            // margin: 0; 
            margin: 10px; 
            margin-top: 20px; 
        } 
        &__films { 
            border: 2px solid green; 
            display: flex; 
        } 
    }
} 

.one_film { 
    width: 110px; 
    &__img {
        @include background_image; 
        display: inline-block; 
        height: 150px; 
    } 
    &__title { 
        position: relative; 
        top: 10px; 
        width: 100px; 
        height: 30px; 
        text-overflow: ellipsis; 
        font-size: .8rem;
        text-align: left; 
        margin: 0; 
        color: $dark_grey; 
        @include text_bg; 
        padding: 2px; 
    } 
} 

// .one_film_0_1 { 

// } 

.modal { 
    position: fixed; 
    top: 50px; 
    left: 50px; 
    z-index: 1; 
    background-color: rgba(lighten($background_color, 10%), .9); 
    width: 80%; 
    min-height: 400px; 
    border-radius: 10px; 
    margin: 20px 100px; 
    &__img { 
        height: 300px; 
        float: left; 
        margin: 0 10px; 
    } 
    &__title { 
        @include stroked_text($title_color); 
        font-size: 2rem; 
        margin: 10px;
    } 
    &__resume { 
        padding: 0 30px; 
    } 
    &__close_button { 
        float: right; 
    } 
} 
.display_none { 
    display: none; 
} 
.block { 
    display: block;
} 
// .one_film a:hover .modal { 
//     display: block; 
// }




/* FOOTER */ 
footer { 
    width: 90%; 
    margin: 10px auto; 
    padding: 10px; 
    & a { 
        display: inline-block; 
        width: 45%; 
        color: $light_color; 
        text-align: center; 
    } 
}


