

body { 
    --slider-width: 900px; 
    --slider-height: 100px; 
} 

.wrapper { 
    overflow: hidden; 
    position: relative; 
    width: var(--slider-width); 
    height: var(--slider-height); 
    background-color: #222; 
    z-index: 1; 
} 

.slides { 
    display: flex; 
    position: relative; 
    top: 0; 
    left: var(--slider-width); 
    width: 10000px; 
} 

/* controls */ 
.control { 
    position: absolute; 
    top: 50%; 
    width: 40px; 
    height: 40px; 
    background-color: #fff; 
    border-radius: 20px; 
    margin-top: -20px; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); 
    z-index: 2; 
} 

.prev, 
.next { 
    background-size: 22px; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: pointer; 
} 

.prev { 
    background-image: url(...); 
} 

.next { 
    background-image: url(...); 
} 

.²prev:active, 
.next:active { 
    transform: scale(.8); 
} 


