@charset "UTF-8";
/* pas utilisé */
/*********** PROPERTIES ************/
html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #5A565D;
  color: #eee;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

/* .header - .navbar */
.header {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #444;
}
.header__logo {
  float: left;
  margin-left: 100px;
  margin-right: 60%;
}
.header__logo__img {
  height: 70px;
}
.header__link {
  width: 100px;
  color: #ddd;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.navbar {
  margin-right: 100px;
  height: 20px;
}
.navbar:hover {
  background-color: #8f8f8f;
  color: black;
}

.navbar:hover .one_category a {
  display: block;
  text-decoration: none;
}

.one_category {
  position: relative;
  top: 18px;
  width: 140px;
  left: -20px;
}
.one_category a {
  display: none;
  background-color: #5A565D;
  color: #bbb;
  line-height: 1.5rem;
  background-color: #444;
  padding: 5px;
}
.one_category:hover {
  display: block;
  color: black;
}
.one_category:hover a {
  border: 1px solid white;
  background-color: #8f8f8f;
  color: black;
}

@media screen and (max-width: 499px) {
  .header {
    min-height: 150px;
    flex-direction: column;
  }
  .header__logo {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .header__link {
    padding: 10px;
    padding-top: 0;
  }
  .navbar {
    margin-right: 0;
  }
}
/* best */
.best {
  border: 2px red solid;
  background-color: #5A565D;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}
.best__intro {
  float: left;
  width: 60%;
  height: 400px;
}
.best__intro__title {
  color: #eee;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3rem;
  margin: 10px 0;
}
.best__intro__subtitle {
  color: #eee;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2rem;
  margin: 10px 0;
}
.best__intro__text {
  font-size: 1.2rem;
  min-height: 320px;
}
.best__img {
  float: right;
  height: 500px;
}

@media screen and (max-width: 499px) {
  .best__intro {
    float: none;
    margin: 0 auto;
  }
  .best__intro__text {
    min-height: 50px;
  }
  .best__img {
    float: none;
    margin: 0 auto;
  }
}
.btns {
  display: inline-block;
}
.btns__play {
  line-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  background-color: #eee;
  border-radius: 5px;
  border: 1px #bbb solid;
  text-decoration: none;
  box-shadow: 0px 0px 2px #eee;
  color: #444;
}
.btns__more_infos {
  line-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  background-color: #444;
  border-radius: 5px;
  border: 1px #bbb solid;
  text-decoration: none;
  box-shadow: 0px 0px 2px #eee;
  color: #bbb;
}
.btns__modal {
  line-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  background-color: #eee;
  border-radius: 5px;
  border: 1px #bbb solid;
  text-decoration: none;
  box-shadow: 0px 0px 2px #eee;
  color: #444;
  width: 90px;
  position: relative;
  top: 50px;
  cursor: pointer;
}

/* SLIDERS */
.sliders {
  background-color: #5A565D;
}
.sliders__category {
  height: 150px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.sliders__category__title {
  text-align: left;
  color: #eee;
  margin: 10px;
  margin-top: 20px;
}
.sliders__category__films {
  border: 2px solid green;
  display: flex;
}

.one_film__img {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #5A565D;
  display: inline-block;
  height: 150px;
}
.one_film__title {
  position: relative;
  top: 10px;
  width: 100px;
  height: 30px;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  text-align: left;
  margin: 0;
  color: #444;
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 2%;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgba(90, 86, 93, 0.9);
  width: 100%;
  height: 600px;
  z-index: 1000;
}
.modal__img {
  width: 35%;
  float: left;
  margin: 0 10px;
}
.modal__title {
  color: #eee;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}
.modal__resume {
  padding: 0 30px;
}
.modal__close_button {
  float: right;
}

.display_none {
  display: none;
}

.block {
  display: block;
}

/* FOOTER */
footer {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
footer a {
  display: inline-block;
  width: 45%;
  color: #eee;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
